{% extends "base.html" %} {% block title %}Editace hudebního nástroje{% endblock %} {% block content %}
<div class="row mb-3">
    <div class="col-sm-12 bg-warning">
        <h2 class="display-4 text-center">Editace hudebního nástroje</h2>
    </div>
</div>
<div class="row mt-5 mb-3">
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table class="text-white">
            {{ form.as_table }}
        </table>
        <input type="submit" value="Potvrdit">
    </form>
</div>
{% endblock %}